.ProductListItem {
  display: flex;
}

.ImageContainer {
  width: 80px;
  aspect-ratio: 1 / 1;
  flex-shrink: 0;
}

.Info {
  margin-left: $space-12;
}

.Actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;

  margin-left: auto;
}

.CartItemSkeleton {
  display: flex;

  width: 100%;
  height: 80px;
  border-radius: $radius-12;
  overflow: hidden;
}
