.ProfileLayout {
  margin-top: $space-32;
}

.Body {
  display: flex;
  flex-direction: column;
  gap: $space-24;

  margin-top: $space-24;

  @media screen and (width > #{$bp-sm-768}) {
    flex-direction: row;
  }
}

.PageContainer {
  flex: 1;
}
