.Header {
  display: flex;
  align-items: end;

  min-height: 40px;
}

.Body {
  margin-top: $space-12;
}

.LoaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 300px;
}
