.SearchContainer {
  margin-top: $space-32;
  max-width: 800px;
  margin-inline: auto;
}

.ProductListContainer {
  margin-top: $space-24;
}

.Header {
  text-align: center;

  margin-top: $space-24;
}

.Subtitle {
  margin-top: $space-24;
}
